/*
font-sizes: default - 1em, h3: 1.2em, h2: 1.4em, h1: 1.6em, line-height: 1.6 (always use line-height in the body and with a 'multiplier value' like mentioned above, and not percent/ems), margin: 0 auto, A good practice is to have the line-height as 1.5 times that of the font-size.<br>
Change the font-sizes to make them responsive, like body: 16px + 1vw. Look up https://css-tricks.com/fun-viewport-units/
Put css attributes in alphabetical order or any other order and stick to it.
Generally, it's a good idea to make the labels and inputs display as block level elements and then display:inline those that are meant to be used in a single line. Attribute selectors can help in this, much like input[type=checkbox] {display:inline}. Creating a table of contents at the start using comments is a good idea.
*/

/* Remember to design Mobile First */
/* LVHAF = link styling order */
/* Hover + Active => Change background/text color for each in a different manner */
/* Focus => Show outline/animation */
/* Ensure to include a:focus back if it is reset.*/

/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

:root {
  /* Colors Begin */
  --mustard: #ffc600;
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --teal: #39cccc;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime-green: #01ff70;
  --yellow: #ffdc00;
  --sunflower: #f1c40f;
  --orange: #ff851b;
  --maroon: #85144b;
  --black: #111111;
  --black-soothing: #272727;
  --grey: #aaaaaa;
  --concrete: #95a5a6;
  --asbestos: #7f8c8d;
  --silver: #dddddd;
  --cloud-white: #ecf0f1;
  --red: #ff4136;
  --alizarin: #e74c3c;
  --pomegranate: #c0392b;
  --slick-red: #f93d66;
  --peter-river: #3498db;
  --belize-hole: #2980b9;
  --fuchsia: #f012be;
  --midnight-blue: #2c3e50;
  --wet-asphalt: #34495e;
  --purple: #b10dc9;
  --amethyst: #9b59b6;
  --wisteria: #8e44ad;
  --bright-purple: #6d47d9;
  --notification-green: #88ffd1;
  /* Color Dark Theme Begin (re: Github Dark Mode) */
  --dark-mode-black: #06090f;
  --dark-mode-light-purple: #6e40c9;
  --dark-mode-dark-purple: #271052;
  --dark-mode-light-yellow: #f8e3a1;
  --dark-mode-red: #da3633;
  --dark-mode-orange: #f0883e;
  --dark-mode-green: #3fb950;
  --dark-mode-pink: #db61a2;
  --dark-mode-blue: #388bfd;
  /* Color Dark Theme End */

  /* --animesh-choice-black: #2b303a; */
  --animesh-choice-black: #000;

  /* Colors End */

  /* Font Values Begin */
  /*
  font-family: 'Courier Prime', monospace;
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway Dots', cursive;
  */
  --title-font: "Nunito Sans";
  --text-font: "Raleway";
  --tertiary-font: "Poppins";
  /* Font Values End */

  /* Font Sizes Begin */
  --font-size-2down: 0.8em;
  --font-size-1down: 0.9em;
  --font-base-size: 16px;
  --font-size-1up: 1.2em;
  --font-size-2up: 1.4em;
  --font-size-3up: 1.6em;
  /* Font Sizes End */
}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  /* font-family: var(--text-font); */
  font-family: "Raleway";
  color: var(--animesh-choice-black);
  /* font-weight: 700; */
}

main {
  min-height: 80vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font), sans-serif;
  /* font-family: "Nunito Sans", sans-serif; */
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;

}

h1, h2 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 5rem;
  margin: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

h3 {
  font-size: 1.2em;
}

label,
input {
  display: block;
}

br {
  margin: 0;
  line-height: 0;
}

/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
}

.container {
  /* max-width: 100ch; */
  max-width: 80%;
  margin: 0 auto;
}

.hindiText {
  font-family: 'Poppins', sans-serif;
}

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */

