/* .popularActions {
  border: 5px solid lightslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  min-height: 20vh;
} */

.allProducts {
  /* border: 5px solid hotpink; */
  /* min-height: 20vh; */
  background-image: url('/repeating-chevrons.svg');
  background-attachment: fixed;
}

/* .allProductCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
} */

.mainProduct {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  font-size: 1.25rem;
  /* background-image: url('/repeating-chevrons.svg'); */
  /* border: 3px solid green; */
}

.mainProduct > * {
  /* Study All this hackery */
  flex-basis: 250px;
  flex-grow: 1;
}

.mainProduct picture {
  text-align: center;
}

.mainProduct img {
  /* display: block; */
  /* border: 3px solid red; */
  vertical-align: bottom;
}

.productDetails {
  /* border: 3px solid blue; */
  /* max-width: 300px; */

}
.productDetails p {
    margin: 0.7rem 0;
  }
/* .strikeThrough {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
} */

/* .productDetails {
  list-style-type: disc;
}

.productDetails > li {
  margin-left: 1rem;
} */

.homeSection {
  padding: 5rem 0;
  /* border: 3px solid green; */
}

.testimonialSection {
  /* border: 5px solid saddlebrown; */
  /* margin: 2rem 0; */
  min-height: 20vh;
  background-color: var(--animesh-choice-black);
  color: white;
}

.testimonialCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.testimonialCard {
  /* border: 3px solid green; */
}

.videoTestimonialSection {
  text-align: center;
  background-image: url(/repeating-chevrons.svg);
  background-attachment: fixed;
}

.allVideoTestimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.videoTestimonial {
  /* aspect-ratio: 16/9;
  max-width: 300px; */
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.extraContainerForIframe {
  /* width: 400px; */
  width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
}

.iframe {
  height: 100%;
  width: 100%;
  /*  */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.highlight-green {
  color: var(--lime-green);
}
/* ---------------------------------------------------------------
Media Queries
--------------------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mainProduct {
    justify-content: center;
    flex-grow: 0;
    align-items: center;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.iframe {
  /* max-width: 560px;
  max-height: 315px;
  width: 560px;
  height: 315px; */
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}