/* Section 01 */
.introduction {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("./../public/north-south-roadlines-truck-view.jpeg"); */
  background-image: url("./../public/home-page-intro-section.jpg");
  /* max-height: 100vh; */
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
  /* merge background color and image */
  background-blend-mode: multiply;
  color: white;
  /* color: #FECC1B; */
  /* background: url("./../public/home-page-intro-section.jpg"), linear-gradient(lightgreen, lightblue); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  text-shadow: 1px 1px 4px #333;

}

.introduction span {
  margin: 0;
  padding: 0;
}

.introduction h3 {
  text-transform: capitalize;
  /* color: #F24F70; */
  /* color: #F44250; */
}

.introImage {
  /* border: 3px solid green !important; */
  /* margin: 0;
  padding: 0; */
  /* height: 100vh !important; */
  /* max-height: 100vh; */
  display: none;
  /* width: 50vw; */
}

.introText {

}
/* Section 02 */

.clients {

}

.clientsSection {
  min-height: 20vh;
  background-color: var(--aditya-choice-black);
  color: white;
    width: 100%;
    position: relative;
    /* margin: 3rem; */
    /* With a negative z-index, the section goes behind the overlay. Also, it doesn't come on top of fixed sections like navbar on scrolling */
    z-index: -1;

}

.clientsSection h3 {
  font-size: 1.3rem;
}

.clientsSectionSquares {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem 1rem; */
    justify-content: center;
}

.square {
    width: 175px;
    height: 175px;
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* top: 10%; */
    text-align: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* border: 5px solid red; */
}

.top-square {
    box-shadow: 0px 0px 10px black;
    border: 5px solid white;
    border-radius: 10px;
    /* background:rgba(0, 0, 0, 50%); */
    /* color:white; */
}

.clientSectionOverlay {
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}

.clientsSection img {
    width: 80%;
}

/* Section 03 */

.citySection {
    text-align: center;
}

.citySectionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1rem;
}

.city img {
    width: 60px;
}

.city {
    text-align: center;
    border: 3px dotted red;
    padding: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 0px 0px 80px #e74c3c; */
}

.citySection h2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
  }

.citySection h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* Section 04 */

.servicesSection {
  text-align: center;
  background-image: url("./../public/home-page-services-section.jpg");
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* merge background color and image */
  background-blend-mode: multiply;
  color: white;
  /* color: #FECC1B; */
  /* background: url("./../public/home-page-services-section.jpg"), linear-gradient(lightgreen, lightblue); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 1px 1px 4px #333;
  font-size: 1.3rem;

}


/* Section 05 */

.mainProduct > * {
  /* Study All this hackery */
  flex-basis: 250px;
  flex-grow: 1;
}

.mainProduct picture {
  text-align: center;
}

.mainProduct img {
  /* display: block; */
  /* border: 3px solid red; */
  vertical-align: bottom;
}

.productDetails {
  /* border: 3px solid blue; */
  /* max-width: 300px; */
}
.productDetails p {
  margin: 0.7rem 0;
}

.homeSection {
  padding: 5rem 0;
  /* border: 3px solid green; */
}

.testimonialCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.testimonialCard {
  /* border: 3px solid green; */
}

.videoTestimonialSection {
  text-align: center;
  background-image: url(/repeating-chevrons.svg);
  background-attachment: fixed;
}

.allVideoTestimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.videoTestimonial {
  /* aspect-ratio: 16/9;
  max-width: 300px; */
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.extraContainerForIframe {
  /* width: 400px; */
  width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
}

.iframe {
  height: 100%;
  width: 100%;
  /*  */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* .strikeThrough {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
} */

/* .productDetails {
  list-style-type: disc;
}

.productDetails > li {
  margin-left: 1rem;
} */

/* .allProductCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
} */

/* ---------------------------------------------------------------
Media Queries
--------------------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mainProduct {
    justify-content: center;
    flex-grow: 0;
    align-items: center;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .iframe {
    /* max-width: 560px;
  max-height: 315px;
  width: 560px;
  height: 315px; */
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
